html {
  height: 100%;
  width: 100%;
  font-family: "Catamaran", sans-serif;
}

body {
  background-position-y: -232px;
  background-position-x: -54px;
  background-image: url("./static_images/background.jpg");
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
  -webkit-border-image: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1))
    1 1%;
  -moz-border-image: -moz-linear-gradient(#6e6161, rgba(254, 254, 254, 1)) 1 1%;
  -o-border-image: -o-linear-gradient(#6e6161, rgba(254, 254, 254, 1)) 1 1%;
  border-image: linear-gradient(to bottom, #6e6161, rgba(254, 254, 254, 1)) 1 1%;
}

.logo-ctr {
  border: 3px solid rgb(226, 226, 226);
  display: block;
  width: 400px;
  border-radius: 3px;
  border-image: inherit;
  background-color: #390b008f;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.logo-ctr h1 {
  letter-spacing: 5px;
  background: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button:focus,
input[type="button"]:focus {
  outline: none;
}

.start-bar-ctr {
  border: 3px solid rgb(226, 226, 226);
  display: flex;
  width: 600px;
  border-radius: 3px;
  border-image: inherit;
  background-color: #390b008f;
  color: white;
  font-size: 50px;
  margin-top: 25px;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.word-list-heading,
.instructions-heading {
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  border-bottom: 2px solid rgb(226, 226, 226);
  margin-right: 49%;
}

.instruction-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3%;
  margin-top: 4%;
}

.instruction-details h3 {
  font-size: 20px !important;
  border-bottom: 2px solid rgb(226, 226, 226);
  margin-top: 3%;
  margin-bottom: 5%;
  margin-left: 0;
}

.instruction-text,
.instruction-text-indented,
.instruction-text-heading-1,
.instruction-text-heading-2 {
  font-size: 18px !important;
  margin-bottom: 6px;
  margin-left: 2%;
}

.instruction-text-heading-1 {
  margin-right: 64%;
}

.instruction-text-heading-2 {
  margin-right: 53%;
}

.instruction-text-indented {
  margin-top: -6px;
  margin-left: 5.5%;
}

.timer,
.score,
.word-list-heading,
.instructions-heading,
.instruction-text,
.instruction-text-indented,
.instruction-text-heading-1,
.instruction-text-heading-2 {
  background: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
}

.instructions-heading {
  margin-right: 57%;
}

.timer {
  min-width: 15%;
}

.score {
  min-width: 19%;
}

.word-list {
  max-height: 89%;
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.word-list li {
  background: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  margin-bottom: 5px;
  margin-right: 10px;
}

#start-button {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  width: 75px;
  color: #330a00;
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    rgba(132, 132, 132, 1) 11%,
    rgba(196, 196, 196, 1) 76%,
    rgba(254, 254, 254, 1) 96%
  );
  cursor: pointer;
  border-radius: 8px;
}

.game-ctr {
  display: flex;
  margin-top: 12.5px;
  height: 500px;
  width: 1000px;
  background-color: #390b008f;
  border: 3px solid rgb(226, 226, 226);
  border-image: inherit;
  border-radius: 3px;
  border-image: inherit;
  text-align: center;
  justify-content: space-around;
}

.middle-game-cntr {
  height: 95%;
  border-image: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.instructions,
.word-list-cntr {
  margin-top: 24px;
  height: 90%;
  width: 300px;
  border: 2px solid rgb(226, 226, 226);
  border-image: inherit;
  box-sizing: border-box;
}
