#model-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000e0;
}

#high-score-model {
  z-index: 1;
  width: 24%;
  position: absolute;
  background-image: url("./static_images/background.jpg");
  border: 3px solid rgb(226, 226, 226);
  -moz-border-image: -moz-linear-gradient(#6e6161, rgba(254, 254, 254, 1)) 1 1%;
  -o-border-image: -o-linear-gradient(#6e6161, rgba(254, 254, 254, 1)) 1 1%;
  border-image: linear-gradient(to bottom, #6e6161, rgba(254, 254, 254, 1)) 1 1%;
}

#high-score-model ul {
  height: 100%;
  justify-content: space-between;
  padding: 16px 18% 4px 18%;
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  background: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 400;
  font-family: inherit;
}

#high-score-model ul:last-of-type {
  margin-bottom: 15px;
}

#high-score-model h1,
#high-score-model li {
  background: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 400;
  font-family: inherit;
}

#high-score-model h1 {
  border-bottom: 2px solid rgb(226, 226, 226);
  margin-bottom: 10px;
  margin-top: 15px;
  margin-left: 7%;
  width: 37%;
}

#high-score-model li {
  /* padding-left: 40px;
  margin-right: 50px; */
}
