#model-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000e0;
}

#leader-board-model,
#high-score-model {
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
  height: 35%;
  width: 24%;
  position: absolute;
  overflow: scroll;
  background-image: url("./static_images/background.jpg");
  border: 3px solid rgb(226, 226, 226);
  -moz-border-image: -moz-linear-gradient(#6e6161, rgba(254, 254, 254, 1)) 1 1%;
  -o-border-image: -o-linear-gradient(#6e6161, rgba(254, 254, 254, 1)) 1 1%;
  border-image: linear-gradient(to bottom, #6e6161, rgba(254, 254, 254, 1)) 1 1%;
}

#high-score-model {
  height: 26%;
}

#high-score-model form {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 15px 5% 15px 5%;
}

#high-score-model input {
  height: 25px;
  text-indent: 5px;
  background-color: #141414;
  color: #cec9c9;
  font-size: 18px;
  width: 14vw;
  border-radius: 6px;
  border: 4px solid;
  border-image: linear-gradient(to bottom, #6e6161, rgba(254, 254, 254, 1)) 1 1%;
}

#high-score-model input[type="submit"] {
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  height: 35px;
  width: 95px;
  color: #141414;
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    rgba(132, 132, 132, 1) 11%,
    rgba(196, 196, 196, 1) 76%,
    rgba(254, 254, 254, 1) 96%
  );
  cursor: pointer;
  border-radius: 8px;
  border-image: none;
}

#leader-board-model ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#leader-board-model ul:last-of-type {
  margin-bottom: 16px;
}

#high-score-model h1,
#high-score-model li {
  background: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: inherit;
}

#leader-board-model h1,
#leader-board-model li {
  background: -webkit-linear-gradient(#6e6161, rgba(254, 254, 254, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-family: inherit;
}

#leader-board-model h1 {
  align-self: flex-start;
  font-size: 2vw;
  border-bottom: 2px solid rgb(226, 226, 226);
  margin-bottom: 10px;
  margin-left: 7%;
}

#high-score-model h1 {
  font-size: 2.5vw;
  border-bottom: 2px solid rgb(226, 226, 226);
  margin-bottom: 20px;
}

#leader-board-model li {
  font-size: 1.5vw;
  margin-left: 15%;
}

#leader-board-model li:last-of-type {
  margin-right: 15%;
  margin-left: 0;
}

#high-score-model li {
  font-size: 1.5vw;
}
