.tile-cntr {
  display: flex;
  flex-wrap: wrap;
  height: 315px;
  width: 315px;
  justify-content: space-between;
  border-image: inherit;
}

.tile-cntr li {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #ffffff;
  font-family: inherit;
  font-size: 40px;
  line-height: 70px;
  font-weight: 700;
  list-style-type: none;
  height: 66px;
  width: 66px;
  cursor: pointer;
  border: 2px solid;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgb(226, 226, 226); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(132, 132, 132, 1) 11%,
    rgba(196, 196, 196, 1) 76%,
    rgba(254, 254, 254, 1) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(132, 132, 132, 1) 11%,
    rgba(196, 196, 196, 1) 76%,
    rgba(254, 254, 254, 1) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    rgba(132, 132, 132, 1) 11%,
    rgba(196, 196, 196, 1) 76%,
    rgba(254, 254, 254, 1) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.red-count {
  cursor: default !important;
  color: #ffffff !important;
  background: rgb(226, 226, 226) !important; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    #bd0000 11%,
    #790000 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    #bd0000 11%,
    #790000 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    #bd0000 11%,
    #790000 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.yellow-count {
  cursor: default !important;
  color: #ffffff !important;
  background: rgb(226, 226, 226) !important; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    #b1b900 11%,
    #a8af00 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    #b1b900 11%,
    #a8af00 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    #b1b900 11%,
    #a8af00 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.green-count {
  cursor: default !important;
  color: #ffffff !important;
  background: rgb(226, 226, 226) !important; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(8, 82, 7, 1) 11%,
    rgba(4, 183, 19, 1) 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(226, 226, 226, 1) 0%,
    rgba(8, 82, 7, 1) 11%,
    rgba(4, 183, 19, 1) 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(226, 226, 226, 1) 0%,
    rgba(8, 82, 7, 1) 11%,
    rgba(4, 183, 19, 1) 76%,
    rgba(254, 254, 254, 1) 99%
  ) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.inactive {
  cursor: default !important;
}

.false {
  cursor: default !important;
}

.focused {
  box-shadow: 0px 0px 20px #98eef2;
  border: none !important;
}

.selected {
  box-shadow: 0px 0px 20px #f5fe19;
  border: none !important;
}

.accepted {
  box-shadow: 0px 0px 20px #17ef17;
  border: none !important;
}

.rejected {
  box-shadow: 0px 0px 20px red;
  border: none !important;
}
